@model IEnumerable<WebApps.ViewModel.GaleriKontener>

@{
    ViewBag.Title = "Dokumentasi Harian";
    Layout = "~/Views/Shared/_Layout.cshtml";
    int i = 1;
}
<link rel="stylesheet" href="~/Scripts/TableSaw/tablesaw.css" />
<script src="~/Scripts/TableSaw/tablesaw.jquery.js"></script>

<link rel="stylesheet" href="~/Content/jquery-ui.css" />
<script src="~/Scripts/moment.min.js"></script>
<script src="~/Scripts/jquery-ui-1.12.1.min.js"></script>
<br />
<div class="container-fluid">
    <div class="col-lg-10">
        <div class="col-md-6">
            <form action="/DocImages/LaporanHarian" method="get">
                <fieldset>
                    <div class="row-cols-md-2">
                        Tanggal <input type="text" id="waktu" name="waktu" class="form-control-sm dtpick" />
                        <button type="submit" class="btn-sm btn-primary">Lihat</button>
                    </div>
                </fieldset>
            </form>
        </div>

        <div class="row" style="float:none; margin:0 auto;">
            <div class="col-md-6 left">
                <h4 style="text-align:left">Jumlah Laporan:@Model.Count()</h4>
            </div>
            <div class="col-md-6 right">
                <h4 style="text-align:right">@System.DateTime.Now.Date.ToLongDateString()</h4>
            </div>
        </div>
        <div class="docs-main">
            <table class="table tablesaw tablesaw-stack table-responsive-sm table-striped table-bordered" data-tablesaw-mode="stack" id="myTable">
                <thead class="table-primary">
                    <tr>
                        <th onclick="sortTable(0)">#</th>
                        <th scope="col" onclick="sortTable(1)" data-tablesaw-priority="persist">Nomor Dokumen</th>
                        <th scope="col" onclick="sortTable(2)" data-tablesaw-priority="1">Tanggal Dokumen</th>
                        <th scope="col" onclick="sortTable(3)" data-tablesaw-priority="2">Petugas</th>
                        <th scope="col" onclick="sortTable(4)" data-tablesaw-priority="3">Nomor Kontainer</th>
                        <th scope="col" data-tablesaw-priority="4">Galeri</th>
                        <th scope="col" data-tablesaw-priority="5">Tindakan</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model)
                    {
                        <tr>
                            <td height="100%">
                                <b class="tablesaw-cell-label table-primary">#</b>
                                <span class="tablesaw-cell-content">@i</span>
                            </td>
                            <td>
                                <b class="tablesaw-cell-label table-primary">Nomor PIB</b>
                                <span class="tablesaw-cell-content">@Html.DisplayFor(modelItem => item.DocNumber)</span>
                            </td>
                            <td>
                                <b class="tablesaw-cell-label table-primary">Tanggal</b>
                                <span class="tablesaw-cell-content">@Html.DisplayFor(modelItem => item.DocDate)</span>
                            </td>
                            <td>
                                <b class="tablesaw-cell-label table-primary">Petugas</b>
                                <span class="tablesaw-cell-content">@Html.DisplayFor(modelItem => item.petugas)</span>
                            </td>
                            <td>
                                <b class="tablesaw-cell-label table-primary">Nomor Kontainer</b>
                                <span class="tablesaw-cell-content">@Html.DisplayFor(modelItem => item.nomKontener)</span>
                            </td>
                            <td width="600px">
                                <b class="tablesaw-cell-label table-primary">Petugas</b>
                                <span class="tablesaw-cell-content">
                                    <img src="@Url.Action("FirstImg",new { DocDir = item.direktori, fileName = item.displayedimage})" alt="Foto kontener" class="img-fluid w-25"/>
                                </span>
                            </td>
                            <td>
                                <b class="tablesaw-cell-label table-primary">Tindakan</b>
                                <span class="tablesaw-cell-content">
                                    @Html.ActionLink("Edit", "Edit", new { id = item.ID }) |
                                    @Html.ActionLink("Details", "Details", new { id = item.ID }) |
                                    @Html.ActionLink("Delete", "Delete", new { id = item.ID })
                                </span>
                            </td>
                        </tr>
                        i++;
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>
<script type="text/javascript">
    $(function () {
        $('.dtpick').datepicker({
            dateFormat: "dd/mm/yy"
        });
        $.validator.methods.date = function (value, element) {
            return this.optional(element) || moment(value, "DD/MM/YYYY", true).isValid();
        }
    });
</script>
