@model WebApps.Models.EventImages

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>EventImages</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.direktori)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.direktori)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.deskripsi)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.deskripsi)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.EventID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
